{% extends 'Principal.html.twig'%}


{% block title %}
    Pagina Principal
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Bienvenido al Inicio</h1>
    </div>

{% endblock %}
