{#{% extends 'Principal.html.twig'%}#}

{% block title %}Lista de Usuarios{% endblock %}

{% block usuario_menu %}active{% endblock %}

{% block body %}
    <h1>Lista de Usuarios </h1>
    {% for campoAfines in campoAfines %}
        <li>{{ campoAfines.nombre }}</li>
    {% endfor %}
{% endblock %}